.course {
    display: flex;
    height: 22.75rem;
    padding-top: 54px;
    
}

.course__title > a {
    
    width: 13rem;
    height: 2rem;
    color:  #4a90e2;
    font-size: 26px;
}

.course__img {
    width: 5.813rem;
    height: 5.813rem;
    margin-top: 19px;
    margin-right: 13px;
    margin-bottom: 17px;
    border: 1px solid #979797;
    float: left;
}
.course__paragrap {
    margin-top: 12px;
    font-size: 16px;
    color: #333;
}

.course__angular {
   margin-right: 31px;
   margin-left: 97px;
}
